* {
  box-sizing: border-box;
}

body {
  background-image: url(../public/bg-desktop.svg) ;
  background-repeat: no-repeat ;
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
  display: flex;
  flex-direction: column;
}

.container{
  margin-top: clamp(20px, 3vh, 25px);
  margin-left: 3vw;
  display: inline-flex;
  height: calc(75vh - 50px);
}

nav{
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  margin-left: 3vw;
  margin-bottom: 7vh;
  min-width: 95vw;
  /*border: 1px solid red;*/
}

.logo {
  content: url(../public/logo.svg);
  width: 12vw;
  min-width: 150px;
}

.image {
 content: url(../public/illustration-mockups.svg);
 width: clamp(720px, 50vw, 750px);
  height: clamp(500px, 60vh, 510px);
 
}

.everything {
  margin-top: 5vh;
  margin-left: clamp(90px, 5vw, 100px);
}

p{
  color: hsl(0, 100%, 100%);
  font-family: open;
  width: clamp(370px, 27vw, 380px) ;
  line-height: 30px;
  font-weight: 400;
  font-size: 15px;
}
h1{
  color: hsl(0, 100%, 100%);
  font-family: pop;
  font-weight: 600;
 line-height: 50px;
  width: clamp(350px, 40vw, 370px);
}

footer{
 display: flex;
 justify-content: end;
 min-width: 1290px;
}

.login{
  font-family: pop ;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 70vw;
  min-width: 1000px; 
}
/*form */
form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 500px;
  align-content: center;
  font-family: pop;
  height: calc(80vh - 50px);
  overflow-y: scroll ;
}

form::-webkit-scrollbar{
  display: none;
}

/*.sign{
  border-radius: 10px;  
  transition: border 0.5s;
  border: 3px solid #ccc;
  outline: none;
  font-family: open;
  color: hsl(300, 69%, 71%);
  padding: 1px; 
  margin-bottom: 10px;
}

/*.signform{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  /*width: clamp(400px, 30vw, 420px); 
  font-family: pop;
} */

.signbutt{
  margin: 0 auto;
  border-radius: 5px;
}

.signlabel{
  font-family: pop;
  color: hsl(0, 100%, 100%);
}

.loginbutt{
  margin: 0 auto;
  border-radius: 5px;
}



input{
  padding: 10px; 
  border-radius: 10px;  
  transition: border 0.5s;
  border: 3px solid #ccc;
  outline: none;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: open;
  color: hsl(300, 69%, 71%);
}

label{
  font-family: pop;
  color: hsl(0, 100%, 100%);
}

input:focus {
  border: 3px solid hsl(300, 69%, 71%);
}


.a{
  background-color: hsl(0, 100%, 100%); 
  color: hsl(300, 69%, 71%);
  border-radius: 20px;
  padding: 0.005vh 2vw ;
  text-decoration: none;
  margin-right: 20px ;
  box-shadow: none;
}

.a:hover{
  background-color: hsl(300, 69%, 71%) ;
  color: hsl(0, 100%, 100%) ;
}

.folink{
  color: hsl(0, 100%, 100%) ;
  margin: 0 auto;
}

.newsletterinput{
  max-width: 500px;
  padding: 5px 30px;
}
.newsletter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 50px auto;
}


.sub{
  margin: 0 auto;
  border-radius: 5px;
}
/*form*/

@font-face {
  font-family: pop ; 
  src:url(../public/poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: open ;
  src: url(../public/Open_Sans/static/OpenSans-Regular.ttf);
}

button{
  padding: 15px 20px;
  /*border-radius: 30px;*/
  border-radius: 5px;
  border: none;
  width: 200px;
  color: hsl(300, 69%, 71%);
  font-family: open;
  font-size: 16px;
  font-weight: bolder;
  box-shadow: 2px 2px 3px 3px hsl(0, 0%, 30%);
}

.icon{
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0 5px;
  color: hsl(0, 100%, 100%) ;
  right: 20px;
  /*left: max(800px, 85vw); */
  /*top: 17vh ;*/
}

/*hover*/
button:hover{
  background-color: hsl(300, 69%, 71%) ;
  color: hsl(0, 100%, 100%) ;
  cursor:pointer;
}

.icon:hover{
  color: hsl(300, 69%, 71%) ;
  cursor: pointer;
}

/*media queries */


@media (max-width:600px) {
  body{
    background-image: url(../public/bg-mobile.svg);
    overflow-x: hidden;
  }

  .container{
     margin-top: clamp(20px, 3vh, 25px);
     margin-left: 3vw;
     display: flex;
     flex-direction: column;
     height: calc(100vh - 39px);
     margin: 0 auto;
   }

   .image {
   content: url(../public/illustration-mockups.svg);
   width: 90vw;
   height: 50vh;
   margin: 0 auto;
  }

  .icon{
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    color: hsl(0, 100%, 100%) ;
    left: 0;
    margin-top: clamp(200px, 30vh, 250px);
  }

  .everything{
    margin: clamp(90px, 10vh, 100px) auto ;
    text-align: center;
  }

  p{
    width: max(45vw, 300px);
    font-weight: 600;
  }

  h1{
    font-size: 20px;
    line-height: 30px;
    width: max(270px, 45vw) ;
  }

  .logo {
    content: url(../public/logo.svg);
    width: 30vw;
    min-width: 150px;
    height: 70px;
    margin-left: 4.5vw;
    margin-bottom: 10vh;
    margin-top: clamp(10px, 2vh, 15px);
  }

  button{
    margin-top: 30px;
    width: 270px;
  }

  button:hover{
    background-color:  hsl(0, 100%, 100%) ;
    color: hsl(300, 69%, 71%);
  }

  button:active{
    background-color: hsl(300, 69%, 71%) ;
    color: hsl(0, 100%, 100%) ;
  }
  

  footer{
    min-width: 95vw;
    justify-content: center;
  }

  nav{
    margin-bottom: 0px;
    margin-top: 0px;
    overflow-x: hidden;
  }

  form{
    width: 85vw;

  }

  .loginbutt{
    width: clamp(190px, 50vw, 200px);
  }

  .signform{
    width: 85vw;
  }
  
  .signbutt{
    width: clamp(190px, 50vw, 200px);
  }

  .newsletter{
    width: clamp(190px, 50vw, 220px);
    
  }

  .sub{
    width: clamp(190px, 50vw, 200px);
  }
}

/*ipad*/

@media (max-width:768px) and (min-width:601px) and (min-height:1024px) and (max-height:1100px){
  body{
    background-image: url(../public/bg-mobile.svg);
    overflow-x: hidden;
  }
  .container{
    margin-top: clamp(20px, 3vh, 25px);
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 39px);
    margin: 0 auto;
  }

  .image {
  content: url(../public/illustration-mockups.svg);
  width: 90vw;
  height: clamp(650px, 50vh, 700px);
  margin: 0 auto;
 }

 .icon{
   position: relative;
   width: 35px;
   height: 35px;
   margin: 0 5px;
   color: hsl(0, 100%, 100%) ;
   left: 0;
   margin-top: clamp(200px, 30vh, 250px);
 }

 .everything{
   margin: clamp(90px, 10vh, 100px) auto ;
   text-align: center;
 }

 p{
   width: max(45vw, 300px);
   font-weight: 600;
 }

 h1{
   font-size: 20px;
   line-height: 30px;
   width: max(270px, 45vw) ;
 }

 .logo {
   content: url(../public/logo.svg);
   width: 30vw;
   min-width: 150px;
   height: 70px;
   margin-left: 4.5vw;
   margin-bottom: 10vh;
   margin-top: clamp(10px, 2vh, 15px);
 }

 button{
   margin-top: 30px;
   width: 270px;
 }

 button:hover{
   background-color:  hsl(0, 100%, 100%) ;
   color: hsl(300, 69%, 71%);
 }

 button:active{
   background-color: hsl(300, 69%, 71%) ;
   color: hsl(0, 100%, 100%) ;
 }
 

 footer{
   min-width: 95vw;
   justify-content: center;
 }

 nav{
   margin-bottom: 0px;
   margin-top: 0px;
   overflow-x: hidden;
 }

 form{
   width: 85vw;
 }

 .loginbutt{
   width: clamp(190px, 50vw, 200px);
 }

 .signform{
   width: clamp(190px, 50vw, 220px);
 }
 
 .signbutt{
   width: clamp(190px, 50vw, 200px);
 }

 .newsletter{
   width: clamp(190px, 50vw, 220px);
   
 }

 .sub{
   width: clamp(190px, 50vw, 200px);
 }
}


@media (max-width:1024px) and (min-width:769px) and (min-height:768px) and (max-height:800px){
  body{
    background-image: url(../public/bg-mobile.svg);
    overflow-x: hidden;
  }
  .container{
    margin-top: clamp(20px, 3vh, 25px);
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 39px);
    margin: 0 auto;
    overflow-y: scroll;
  }

  .image {
  content: url(../public/illustration-mockups.svg);
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
 }

 /*clamp(90px, 10vh, 100px)*/

 .icon{
   position: relative;
   width: 35px;
   height: 35px;
   margin: 0 5px;
   color: hsl(0, 100%, 100%) ;
   left: 0;
   margin-top: clamp(200px, 30vh, 250px);
 }



 .everything{
   margin: 1.5vh auto ;
   text-align: center;
 }

 p{
   width: max(45vw, 300px);
   font-weight: 600;
 }

 h1{
   font-size: 20px;
   line-height: 30px;
   width: max(270px, 45vw) ;
 }

 .logo {
   content: url(../public/logo.svg);
   width: 30vw;
   min-width: 150px;
   height: 70px;
   margin-left: 4.5vw;
   margin-bottom: 10vh;
   margin-top: clamp(10px, 2vh, 15px);
 }

 button{
   margin-top: 30px;
   width: 270px;
 }

 button:hover{
   background-color:  hsl(0, 100%, 100%) ;
   color: hsl(300, 69%, 71%);
 }

 button:active{
   background-color: hsl(300, 69%, 71%) ;
   color: hsl(0, 100%, 100%) ;
 }
 

 footer{
   min-width: 95vw;
   justify-content: center;
 }

 nav{
   margin-bottom: 0px;
   margin-top: 0px;
   /*overflow-x: hidden; */
 }

 .login{
  font-family: pop ;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 70vw;
  min-width: 50vw;
}

 /*form{
   width: 85vw;
 }

 .loginbutt{
   width: clamp(190px, 50vw, 200px);
 }

 .signform{
   width: clamp(190px, 50vw, 220px);
 }
 
 .signbutt{
   width: clamp(190px, 50vw, 200px);
 }

 .newsletter{
   width: clamp(190px, 50vw, 220px);
   
 }

 .sub{
   width: clamp(190px, 50vw, 200px);
 } */
}

